<div class='contenedorPadre'>
  <div class='contenedorTitulo'>
    <h1>Bienvenidos a C R U D O</h1>

  </div>

  <div class='logoutContainer'>
    {{#if login}}
      <a href='/static/logOut'>Cerrar Sesion</a>
    {{/if}}
  </div>
<div class='contenedorCarritoTitulo'>
    <h2>Carrito</h2>
    <div id='contenedorCarrito' class='contenedorCarrito'>
    </div>
    <div><button>Finalizar Compra</button></div>
  </div>

  <div class='contenedorSubTitulo'>
    <h2>Nuestros Productos</h2>
  </div>

  <div id='contenedorProductos' class='contenedorProductos'>
  </div>
</div>
