<div class='contenedorTicketPadre'>
  <h1>Gracias por confiar en nosotros</h1>
  <h2>Su compra a finalizado</h2>
  <div id='contenedorTicket'>

  </div>
  <div class='contenedorVolverHome'>
    <a href='/home'>Volver a home</a>
  </div>
</div>